/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: 'iconfont';  /* Project id 3786852 */
    src: url('//at.alicdn.com/t/c/font_3786852_7jmnu9slkkl.woff2?t=1702624756350') format('woff2'),
         url('//at.alicdn.com/t/c/font_3786852_7jmnu9slkkl.woff?t=1702624756350') format('woff'),
         url('//at.alicdn.com/t/c/font_3786852_7jmnu9slkkl.ttf?t=1702624756350') format('truetype');
  }
/* 使用：class="icon-xinxi" */
.icon-xinxi::before{
    content: '\e762';
}
.icon-haoyou::before{
    content: '\e86f';
}
.icon-shezhi::before{
    content: '\e795';
}





  @font-face {
    font-family: DeYiHei;
    src: url('@/assets/font/SmileySans-Oblique-3.otf');
  }

  body{
    font-family: DeYiHei;
    background-color: #f7f9fe;

  }

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --card-box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.05);
    --card-hover-box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.09);
}

.block {
    border-radius: 12px;
    box-shadow: var(--card-box-shadow);
    transition: all .3s;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.block:hover {
    box-shadow: var(--card-hover-box-shadow);
}

:root {
    --tag-color: #49b1f5;
}

/* 头像 */
.avatar img{
    width: 50px;
    height: 50px;
    clip-path: circle();
}
.container{
}